.curriculum-wrapper
  .curriculum-header
    = link_to 'マイページ', user_path(current_user.id)
    .log-out
      .log-out__button
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
  .curriculum-title
    %p カリキュラム
  .curriculum-contents
    - @curriculums.each do |curriculum|
      .curriculum-contents__box.box
        = link_to curriculum_path(curriculum.id) do
          %p=curriculum.curriculums

    .curriculum-contents__box3.box
      = link_to new_curriculum_path do
        %p カリキュラムをつくる
        