.top-wapper{
  height: 100vh;
  width: 100vw;
  background-image: image-url("pc-1776996_1280.png");
  background-size: cover;
  // opacity: 0.6;
  position: fixed;
  overflow: auto;
  .top-contents{
    height: 100vh;
    z-index: 10;
  }
  .d1{
    .top-title{
      text-align: center;
      margin: 0 auto;
      padding: 40px;
      h1{
        font-size: 30px;
        margin-bottom: 30px;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .d2{
    background-color: #fff;
    &__title {
      color: #fff;
      text-align: center;
      padding:50px;
    }
    &__contents{
      .d2__discription{

      }
      .d2__image{
        .top_image{
          width: 100%;
          height: 80%;
        }
      }
    }
  }
  .d3{
    background-color: blue;
    opacity: 0.3;
    p{
      padding-top: 100px;
      opacity: 1;
      color: #fff;
      text-align: center;
    }
  }
  .d4{
    background-color: green;
    &__title{
      color: #fff;
      text-align: center;
    }
    .user-sign-up__box{
      background-color: #fff;
      box-shadow: 0px 0px 10px 0.5px rgb(144, 228, 149);
      width: 300px;
      margin: 0 auto;
      text-align: center;
      &__title{
        padding: 20px;
      }
      &__contents{
        color: #fff !important;
        width: 250px;
        margin: 0 auto;
        padding-bottom: 40px;
        .user-sign-up__box__google {
          margin-top:20px;
          .google__button{
            background-color: rgb(16, 106, 223);
            padding: 10px;
          }
        }
        .user-sign-up__box__twitter {
          margin-top:20px;
          .twitter__button{
            background-color: rgb(16, 106, 223);
            padding: 10px;
          }
        }
        .user-sign-up__box__mail {
          margin-top:20px;
          .mail__button{
            background-color: rgb(16, 106, 223);
            padding: 10px;
          }
        }
        .user-sign-up__box__sign-in {
          margin-top:20px;
          .sign-in__button{
            background-color: rgb(223, 99, 16);
            padding: 10px;
          }
        }
      }
    }
  }
}