.top-wapper
  .top-title
    %h1 Eg-Pro
    .top-discription
    %p これからエンジニアを目指そうとしている人が、一緒に楽しく学べるカリキュラム
  .top-contents.d1
    .d1__title
      %p こんな悩みをお持ちな方いらっしゃいませんか？
    .d1__contents
      .d1__discription1
        %p 今まだプログラミングやったことがないけど興味はある
        %p Webって？ブラウザって？
        %p 何からやっていいかわからない・・・
      .d1__discription2
        %p エンジニア初心者の僕がこれからプログラミングを始める人たちがまず知っておくべき知識をカリキュラム方式でお伝えします！
      .d1__discription3
        %p 手を動かしながら！　楽しく！　続けらる！
        %p パソコンとインターネット環境があればすぐ始められます！
  .top-contents.d2
  .top-contents.d3
    
  